@import "node_modules/@unumux/theme-unum-default/styles";
@import "node_modules/@unumux/willow/styles";

$component-icon-bg-background-color: $theme-accent;

.page-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    min-height: 100vh;

    @media screen and (min-width: 1900px) {
        overflow-x: hidden;
    }
}

.container {
    display: block;
    flex-direction: initial;
    min-height: auto;

    @media (min-width: 1200px) {
        max-width: 1260px;
    }
}

.willow-page-content {
    padding-bottom: 0;
}

.willow-page-footer {
    background-color: #fff;
}

.willow-page-footer__copyright {
    color: #2e2e2e;
}

.willow-page-footer__navigation {    
    &--logo-nav {
        justify-content: center;
    }

}

.willow-footer-nav {
    padding: $space-inset;
}

.willow-footer-nav--legal {
    padding: $space-inset;
    padding-left: 0;
}

.willow-footer-nav__item {
    display: block;

    &::after {
        color: #0376bb;
        width: 1px;
    }

    @media all and (min-width: 828px) {
        display: inline-block;        
    }
}

.willow-footer-nav__item--logos {
    &::after {
        color: #2e2e2e;
        font-size: 24px;
        width: 1px;
    }
}

a.willow-footer-nav__link {
    color: #0376bb;
    text-decoration: none;
}

.willow-footer-nav__link, .willow-footer-nav__link:active, .willow-footer-nav__link:hover, .willow-footer-nav__link:visited {
    color: #0376bb;
}

.willow-footer-nav__link {
    color: #0376bb;
}

.legal-links {
    color: #2E2E2E;
    order: 4;
}

.icon-bg {
    background-color: $component-icon-bg-background-color;
    border-radius: 50%;
    height: $space-xxl;
    margin-bottom: $space;
    margin-left: auto;
    margin-right: auto;
    padding: $space-inset;
    width: $space-xxl;
}

.icon-members,
.icon-registration,
.icon-dental,
.icon-vision,
.icon-admins,
.icon-agents {
    height: 100%;
    width: 100%;
}

.icon-members {
    background-image: url("../images/icon-members.svg");
}

.icon-registration {
    background-image: url("../images/icon-registration.svg");
}

.icon-dental {
    background-image: url("../images/icon-dental.svg");
}

.icon-vision {
    background-image: url("../images/icon-vision.svg");
}

.icon-admins {
    background-image: url("../images/icon-admins.svg");
}

.icon-agents {
    background-image: url("../images/icon-agents.svg");
}

.dlp-summary {
    padding: $space-inset-squish-xxl;

    &:last-child {
        padding-bottom: 0;
    }
}

.dlp-summary__heading {
    color: #083E81;
    text-align: center;
}

.dlp-summary__content {
    @include full-bleed;

    background-color:#D9E1E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space-inset;
    text-align: center;

    @media all and (min-width: 828px) {
        flex-direction: row;
        padding: $space-inset-squish-xxl;
    }
}

.dlp-summary__description {
    font-weight: 600;
    text-align: center;
}

.willow-card {
    flex-basis: 50%;
    margin: $space-inset-squish; 
    max-width: none;

    @media all and (min-width: 828px) {
        max-width: 380px; 
    }
}